body{
    background-image: url('./../../../home.jpg');
    background-size: 100% 100vh;

}
.tt{
    display: flex;
    justify-content: flex-end;
}
a{
    color: white;
    text-decoration: none;
    gap: 5px;
    padding: 0px 7px;
}